/** IMPORTED GOOGLE FONTS **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700italic,800italic);

/** DEFAULT VALUES **/
html,
body {
	margin:0;
	padding:0;
	height:100%;
    font-family: $font;
}
.wrapper {
	min-height:100%;
	position:relative;
}
.content {
	padding-bottom:100px; /* Height of the footer element */
}
.clear {
    clear: both;
}