/** Media Queries for adjustments and all tablet styles **/


/* Setup for mobile style Navigation - anything UNDER 414px */
@media (min-width: 320px) and (max-width: 414px) {
 .nav-full {
        display: none;
    }
}

/* Setup for Navigation on phone or small tablet devices - anything Under 767px */
@media (min-width: 415px) and (max-width: 767px) {
 .nav-full {
        display: none;
    }
}

/* Tablet styles - Include Navigation setup for tablets and small computers */
@media (min-width: 768px) {
    h1 {
        font-size: 2em;   
    }
    h2 {
        font-size: 2em;
        margin-bottom: .75em;
    }
    .large-text {
        font-size: 1.25em;
        margin-bottom: .75em;
    }
    .middle {
        padding: 0;
    }
    .travelers-wrapper {
        .tablet-img {
            width: 31.75%;    
        }
    }
    
    .inline-images {
        .img-fourth {
            width: 23.5%;    
        }
        .img-half {
            width: 49.2%;
        }
    }
    
    /* Navigation adjustments */
    .nav-full {
        display: none;
    }

    #mobile-nav-wrap {
        width: 100%;
        margin: 0 auto 1.5em;
        display: block;
        padding: 0;

        #all-mobile > ul { 
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 10em;
        position: relative;

        li {
            float: left;
            width: 8em;
            height: 8em;
            display: block; 
            padding: 0;
            margin: 0 auto;
            border-radius: 50%;
        }
    }

    .top-nav {
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        li {
            margin: 0 auto;
            padding: 0;
        }
        .rock-star /* Blue Circle */ {
            position: absolute;
            top: 1em;
            left: 8%;
            
            span {
                    
            }
        }
        .cover-band /* Green Circle */ {
            position: absolute;
            top: 1em;
            left: 30%;
        }
        .touring-act /* Purple Circle */ {
            position: absolute;
            top: 1em;
            left: 52%;
        }
        .karaoke-star /* Gold Circle */ {
            position: absolute;
            top: 1em;
            left: 74%;
        }
    }
    .bottom-nav {
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        li {
            margin: 0 auto;
            padding: 0;
        }
        .producer /* Grey Circle */ {
            position: absolute;
            top: 1em;
            left: 10%;
        }
        .cover-band /* Red Circle */ {
            position: absolute;
            top: 1em;
            left: 40%;
        }
        .dj /* Teal Circle */ {
            position: absolute;
            top: 1em;
            left: 70%;
        }
    }

    #all-mobile a { 
        text-decoration: none;
        width: 80%;
        height: 80%;
        float: left;
        display: block; 
        padding: 10px;
        margin: 0 auto;
        border-radius: 50%;
        text-align: center;

        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }
    #all-mobile:hover a {
        opacity: 0.2;
    }
    #all-mobile:hover ul:hover a {
        opacity: 0.5;
    }
    #all-mobile:hover ul:hover a:hover {
        opacity: 1;
    }

        /* Circle Colors */
        .blue {
            background-color: #496fb5;
            background-image: url(../images/navigation.gif)  !important;
            background-size: 1000%;
            color: #496fb5;
            font-weight: bold;
            font-size: .85em;
            &:hover {
                background-color: #496fb5 !important;
                background-size: 1000%;
                color: #496fb5 !important;
            }
            span {
                position: absolute;
                top: 4.5em;
                left: .85em;    
            }
        }
        .green {
            background-color: #44A472;
            background-image: url(../images/navigation.gif)  !important;
            background-position: 17% 0 !important;
            background-size: 1000%;
            color: #44A472;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background: #44A472 !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-size: 1000% !important;
                    background-position: 17% 0 !important;
                    color: #44A472 !important;
                }
             span {
                position: absolute;
                top: 4.5em;
                left: .75em;    
            }
        }
        .purple {
            background-color: #6F489C;
            background-image: url(../images/navigation.gif)  !important; 
            background-size: 1000% !important;
            background-position: 33.5% 0 !important;
            background-size: 1000%;
            color: #6F489C;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background-color: #6F489C !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-position: 33.5% 0 !important;
                    background-size: cover;
                    color: #6F489C !important;
            } 
             span {
                position: absolute;
                top: 4.5em;
                left: .25em;    
            }
        }
        .gold {
            background-color: #F59120;
            background-image: url(../images/navigation.gif)  !important; 
            background-size: 1000% !important;
            background-position: 50% 0 !important;
            background-size: 1000%;
            color: #F59120;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background-color: #F59120 !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-position: 50% 0 !important;
                    color: #F59120 !important;
                }
             span {
                position: absolute;
                top: 4.5em;
                left: .25em;    
            }
        }
        .grey {
            background-color: #58595B;
            background-image: url(../images/navigation.gif)  !important;
            background-size: 1000% !important;
            background-position: 66.5% 0 !important;
            background-size: 1000%;
            color: #58595B;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background-color: #58595B !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-position: 66.5% 0 !important;
                    color: #58595B !important;
                }
             span {
                position: absolute;
                top: 4.5em;
                left: -.15em;    
            }
        }
        .red {
            background-color: #D23A45;
            background-image: url(../images/navigation.gif)  !important; 
            background-size: 1000% !important;
            background-position: 83.5% 0 !important;
            background-size: 1000%;
            color: #D23A45;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background-color: #D23A45 !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-position: 83.5% 0 !important;
                    color: #D23A45 !important;
                }
             span {
                position: absolute;
                top: 4.5em;
                left: -1.25em;    
            }
        }
        .teal {
            background-color: #57BF9E;
            background-image: url(../images/navigation.gif)  !important; 
            background-size: 1000% !important;
            background-position: 99.6% 0 !important;
            background-size: 1000%;
            color: #57BF9E;
            font-weight: bold;
            font-size: .85em;
                &:hover {
                    background: #57BF9E !important;
                    background-image: url(../images/navigation.gif) !important;
                    background-position: 99.6% 0 !important;
                    background-size: 1000% !important;
                    color: #57BF9E !important;
                }
             span {
                position: absolute;
                top: 4.5em;
                left: 1.5em;   
            }
        }

    }
    
    /* Footer for tablet */
    .footer {
         p {
            font-size: 1em;    
         }
    }
}


@media (min-width: 992px) {
    .large-text {
        font-size: 1.53em;
        color: #333;
    }
    .nav-full {
        display: block;
    }
    #mobile-nav-wrap {
        display: none;   
    }
}