/** Media Queries for adjustments and all tablet styles **/


@media (min-width: 544px) and (max-width: 600px) {

    .travelers-wrapper {
        .col-sm-12 {
            float: none;
            width: 95%;
        }
    }
    
    .image-wrapper {
        width: 100%;
        margin: 1em auto 0;
        padding: 0;

        .col-md-6 {
            width: 43%;
            margin-left: 1.5em;
            padding: 0;   
        }
        .full-top {
            width: 90.75%;
            margin: 0 auto 0 .2em;
            padding: .25em;
        }
        .bottom-left {
            width: 100%; 
            float: left;    
        }
        .bottom-right {
            width: 100%; 
            float: left;    
        }
    }
    
    .inline-images {
        display: none;   
    }
    
}
@media (min-width: 601px) and (max-width: 1199px) {
    .travelers-wrapper {
        .col-sm-12 {
            width: 29%;
            float: left;
            padding: 0 .75em;
            margin-left: .25em;
        }
        
        .inline-images {
            display: block;   
        } 
    }
}
@media (min-width: 601px) {    
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
        display: block;
        width: 100%;
        margin: 2em 0 2em 1em;
        padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 22%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 .7em;
            float: left;
            width: 50%; 
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
    .borders {
        width: 98%;
    }
}

/* Tablet styles - Include Navigation setup for tablets and small computers */
@media (min-width: 736px) {
    h1 {
        font-size: 2em;   
    }
    h2 {
        font-size: 2em;
        margin-bottom: .75em;
    }
    .large-text {
        font-size: 1.25em;
        margin-bottom: .75em;
    }
    .middle {
        padding: 0;
    }
    
    .inline-images {
        .img-fourth {
            width: 23.5%;    
        }
        .img-half {
            width: 49.2%;
        }
        tablet-img {
            width: 30%;
            float: left;
            padding: 0 1.15em;
        }
    }
}


@media (min-width: 992px) {
    
    .large-text {
        font-size: 1.53em;
        color: #333;
    }
    .nav-full {
        display: block;
    }
    #mobile-nav-wrap {
        display: none;   
    }
}
