/** Media Queries for adjustments and all tablet styles **/

@media (min-width: 300px) and (max-width: 600px) {
    .image-wrapper {
        width: 92%;
        
        .top-image {
            width: 91.89%;
            padding: 0 4% 0;    
        }
        .bottom-images {
            width: 99.65%;
            
            .bottom-right {
                width: 49%;
                float: left;
                margin-left: .11em;
                padding: 0;  
            }
        }
    }
    
    .inline-images {
        display: none;   
    }    
}

@media (min-width: 544px) and (max-width: 600px) {

    .travelers-wrapper {
        .col-sm-12 {
            float: none;
            width: 95%;
        }
    }  
}
@media (min-width: 601px) and (max-width: 991px) {
    .travelers-wrapper {
        .col-sm-12 {
            width: 30%;
            float: left;
            padding: .25em;
            margin-left: .45em;
        }
        
        .inline-images {
            display: block;   
        } 
    }
}




@media (min-width: 601px) and (max-width: 734px){    
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
            display: block;
            width: 100%;
            margin: 1em 0 2em 1.75em;
            padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 21%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 .7em;
            float: left;
            width: 44%; 
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
}

@media (min-width: 735px) and (max-width: 767px) {    
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
            display: block;
            width: 100%;
            margin: .5em auto 0 1.5em;
            padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 21.25%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 .8em;
            float: left;
            width: 44.5%;
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {    
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
            display: block;
            width: 100%;
            margin: .5em auto 0 1.5em;
            padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 21.25%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 1.05em;
            float: left;
            width: 44.5%;
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
}



@media (min-width: 736px) {
    .large-text {
        font-size: 1.25em;
        margin-bottom: .75em;
    }
    .middle {
        padding: 0;
    }
}

/* 992 - 1199 */

@media (min-width: 992px) and (max-width: 1199px) {
    .travelers-wrapper {
        .col-sm-12 {
            width: 30%;
            float: left;
            padding: .25em;
            margin-left: .7em;
        }
    }
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
            display: block;
            width: 100%;
            margin: .5em auto 0 1.5em;
            padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 22.5%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 1.05em;
            float: left;
            width: 47%;
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
    
    .borders {
        width: 93.65%;
        margin-left: 1.85em;
    }
    .message-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
        display: block;
        
        h3 {
            font-size: 1.35em;    
        }
    }
    .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: #496fb5;
        position: relative;
        float: left;
        margin-left: 2em;
        margin-right: .5em;
        margin-top: .25em;
        i {
            color: #FFF;
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
    .message-wrapper-mobile {
        display: none;
    }
}


@media (min-width: 992px) {
    
    .large-text {
        font-size: 1.53em;
        color: #333;
    }
    .nav-full {
        display: block;
    }
    #mobile-nav-wrap {
        display: none;   
    }
}



/* 1200px */

@media (min-width: 1200px) {
    .borders {
        width: 95.5%;
        margin-left: 2em;
    }
    .message-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
        display: block;
        
        h3 {
            font-size: 1.65em;    
        }
    }
    .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: #496fb5;
        position: relative;
        float: left;
        margin-left: 2em;
        margin-right: .5em;
        margin-top: .25em;
        i {
            color: #FFF;
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
    .message-wrapper-mobile {
        display: none;
    }
    .mobile-images {
        display: none;
    } 
    /* Full width images below slideshow */
    .inline-images {
            display: block;
            width: 100%;
            margin: .5em auto 0 1.5em;
            padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            float: left;
            width: 22.65%;
            > img {
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 1.05em;
            float: left;
            width: 47.4%;
            > img { 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
}
