
/* .navigation {
    margin: 0 auto;
    padding: 0;

    .circle-wrapper {
        width: 135px;
        height: 135px;
        margin: 1em 1em;
        position: relative;
        float: left;   
    }
    .circle {
        width: 115px;
        height: 115px;
        margin: 1em;
        border-radius: 50%;
        float: left;
    }
    /* Circle Colors 
    .blue {
        width: 100px;
        height: 100px;
        
        }
    .green {
        background: #44A472;   
    }
    .purple {
        background: #6F489C;   
    }
    .gold {
        background: #F59120;   
    }
    .grey {
        background: #58595B;   
    }
    .red {
        background: #D23A45; 
    }
    .teal {
        background: #57BF9E;    
    }
    /* End Circle Colors  
    p {
        position: absolute;
        left: 0;
        bottom: 0;
    }
} */
.mobile-nav {
    width: 75%;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    background: url(../images/mobile-nav.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation {
    display: none;
}

// Computer display //
@media (min-width: 992px) { 
    .mobile-nav {
        display: none;   
    }
    .navigation {
        width: 1150px;
        height: 161px;
        display: block;
        margin: 10px auto 0;
        padding: 0;
        background: url(../images/navigation.gif) 0 0;
    }
}
