/** IMPORTED GOOGLE FONTS **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300);

/* Font Colors */
$font-color-light: #eeeeee;

/* Font Family */
$font: 'Open Sans', sans-serif;

/* Gradient to and from colors */
$from-color: #6f6f6f;
$to-color: #4d4d4d;