<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="cover-band">
            <img src="images/banners/cover-band-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Your ears were tuned to the Top 40 deals chart this year. Once you found a hit, you milked it for all it was worth. When it came to getting the best value, you rocked 2015.</p>

         <div class="travelers-wrapper">
             <h2 class="green-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/free-trips.jpg" alt="">
                <p>Save points for free nights</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/louisville/good-deals.jpg" alt="">
                <p>Travel last-minute for a good deal</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/road-trips.jpg" alt="">
                <p>Like road trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="green-font"><a href="http://www.marriott.com/explore-and-plan/last-minute-accommodation-deals.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147488[LINK_TAG=1000147488]" target="_blank"><div class="circle"><img src="images/stars/star_green.gif"></div><strong>DID YOU KNOW?</strong> Have you checked out eBreaks<sup>&reg;</sup>?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <a href="http://www.marriott.com/explore-and-plan/last-minute-accommodation-deals.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147488[LINK_TAG=1000147488]" target="_blank">
                    <div class="mobile-circle"><p><img src="images/stars/star_green.gif" class="img-responsive"></i></p></div>
                    <h3 class="green-font"><strong>DID YOU KNOW?</strong> <br>Have you checked out eBreaks<sup>&reg;</sup>?</h3>
            </a>
                </div>
        </div>
        
       <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/louisville.gif" alt="Louisville" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for Cover Bands</p>    
                    <!-- Middle Line -->
                    <h2 class="city">Louisville</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">Sumptuous food & drink and elegant Southern charm come at a fraction of the price of big cities.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://www.churchilldowns.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147487[LINK_TAG=1000147487]" target="_blank"><button class="md-height button1 button-green"><strong>See</strong> <br> Churchill Downs</button></a>
                <!-- Button Eat -->
                    <a href="https://en.wikipedia.org/wiki/Hot_Brown?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147489[LINK_TAG=1000147489]" target="_blank"><button class="height md-height xmd-height tablet-height button2 button-green"><strong>Eat</strong> <br> Hot Brown</button></a>
                <!-- Button Do -->
                    <a href="http://kybourbontrail.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147490[LINK_TAG=1000147490]" target="_blank"><button class="height md-height tablet-height button3 button-green"><strong>Do</strong> <br> Bourbon Trail</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img src="images/smaller-images/louisville/city.jpg" class="side-image" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img src="images/smaller-images/louisville/middle-photo.jpg" class="middle-image" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img src="images/smaller-images/louisville/map.gif" class="side-image" alt=""></a> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img class="full-top" src="images/smaller-images/louisville/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img class="bottom-left" src="images/smaller-images/louisville/city.jpg" alt=""></a> 
                </div>
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]" target="_blank"><img class="bottom-right" src="images/smaller-images/louisville/map.gif" alt=""></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>