<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="cover-band">
            <img src="images/banners/cover-band-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Your ears were tuned to the Top 40 deals chart this year. Once you found a hit, you milked it for all it was worth. When it came to getting the best value, you rocked 2015.</p>

         <div class="travelers-wrapper">
             <h2 class="green-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/free-trips.jpg" alt="">
                <p>Save points for free nights</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/louisville/good-deals.jpg" alt="">
                <p>Travel last-minute for a good deal</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/road-trips.jpg" alt="">
                <p>Like road trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="green-font"><div class="circle"><img src="images/stars/star_green.gif"></div><a href="http://www.marriott.com/explore-and-plan/last-minute-accommodation-deals.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147488[LINK_TAG=1000147488]"><strong>DID YOU KNOW?</strong> Have you checked out eBreaks?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle"><p><img src="images/stars/star_green.gif" class="img-responsive"></i></p></div>
                    <h3 class="green-font"><a href="http://www.marriott.com/explore-and-plan/last-minute-accommodation-deals.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147488[LINK_TAG=1000147488]"><strong>DID YOU KNOW?</strong> <br>Have you checked out eBreaks?</a></h3>
                </div>
        </div>
        
        <!-- Slideshow -->
        <div class="slideshow-wrapper">
            <!-- <img src="images/placeholder.jpg" alt=""> -->
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/louisville/louisville-hotel.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]"><img src="images/smaller-images/louisville/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/louisville/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/sdffd-fairfield-inn-and-suites-louisville-downtown/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147491[LINK_TAG=1000147491]"><img class="full-top" src="images/smaller-images/louisville/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/louisville/louisville-hotel.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/louisville/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>