<div class="container-fluid">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="cover-band">
            <img src="images/banners/cover-band-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Your ears were tuned to the Top 40 deals chart this year. Once you found a hit, you milked it for all it was worth. When it came to getting the best value, you rocked 2015.</p>

         <div class="travelers-wrapper">
             <h2 class="green-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/free-trips.jpg" alt="">
                <p>Save points for free nights</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/louisville/good-deals.jpg" alt="">
                <p>Travel last-minute for a good deal</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/louisville/road-trips.jpg" alt="">
                <p>Like road trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <div class="circle green-circle"><i class="fa fa-star fa-3x"></i></div><h3 class="green-font"><strong>DID YOU KNOW?</strong> Have you check out eBreaks?</h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle green-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="green-font"><strong>DID YOU KNOW?</strong> <br>Have you check out eBreaks?</h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-lv">
            <div>
                <div id="slideshow-wrap-lv">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-lv" name="controls" checked="checked"/>
                <label for="button-1-lv" class="button-lv"><p>See<br>Churchill Downs</p></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-lv" name="controls"/>
                <label for="button-2-lv"><p>Eat<br>Hot Brown</p></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-lv" name="controls"/>
                <label for="button-3-lv"><p>Do<br>Bourbon Trail</p></label>

        <div id="slideshow-inner-lv">
            <ul>
                <li id="slide1-lv">
                    <img src="images/slides/louisville/slide1.jpg"/>
                    <div class="description-lv">
                        <div class="description-text-lv">
                            <p class="topline-lv">Best city for Cover Bands</p>
                            <h2>Louisville</h2>
                            <p>Sumpuous food & drink and elegant Southern charm come at a fraction of the price of big cities.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-lv">
                    <img src="images/slides/louisville/slide2.jpg"/>
                    <div class="description-lv">
                        <input type="checkbox" id="show-description-2-lv"/>
                        <label for="show-description-2-lv" class="show-description-label-lv">I</label>
                        <div class="description-text-lv">
                            <p class="topline-lv">Best city for Cover Bands</p>
                            <h2>Louisville</h2>
                            <p>Sumpuous food & drink and elegant Southern charm come at a fraction of the price of big cities.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-lv">
                    <img src="images/slides/louisville/slide3.jpg"/>
                    <div class="description-lv">
                        <input type="checkbox" id="show-description-3-lv"/>
                        <label for="show-description-3-lv" class="show-description-label-lv">I</label>
                        <div class="description-text-lv">
                            <p class="topline-lv">Best city for Cover Bands</p>
                            <h2>Louisville</h2>
                            <p>Sumpuous food & drink and elegant Southern charm come at a fraction of the price of big cities.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/louisville/louisville-hotel.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <img src="images/smaller-images/louisville/middle-photo.jpg" alt="">
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/louisville/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <img class="full-top" src="images/smaller-images/louisville/middle-photo.jpg" alt=""> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/louisville/louisville-hotel.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/louisville/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>