<div class="container-fluid">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="dj">
            <img src="images/banners/dj-banner.jpg" alt="DJ">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">You find your beat regardless of whether the music's in your mother tongue. Next year consider a new mix – and maybe some more stamps on your passport?</p>

         <div class="travelers-wrapper">
             <h2 class="teal-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/taipei/multiple-languages.jpg" alt="">
                <p>Speak multiple languages</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/taipei/passport.jpg" alt="">
                <p>Use a passport</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/taipei/local-cuisine.jpg" alt="">
                <p>Seek out local cuisine</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <div class="circle teal-circle"><i class="fa fa-star fa-3x"></i></div><h3 class="teal-font"><strong>DID YOU KNOW?</strong> You can also use points to buy electronics, jewelry and more.</h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle teal-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="teal-font"><strong>DID YOU KNOW?</strong> <br>You can also use points to buy electronics, jewelry and more.</h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-tp">
            <div>
                <div id="slideshow-wrap-tp">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-tp" name="controls" checked="checked"/>
                <label for="button-1-tp" class="button-tp"><p>See<br>CHIANG KAI-SHEK HALL</p></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-tp" name="controls"/>
                <label for="button-2-tp"><p>Eat<br>BEEF NOODLE SOUP</p></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-tp" name="controls"/>
                <label for="button-3-tp"><p>Do<br>SHOP A NIGHT MARKET</p></label>

        <div id="slideshow-inner-tp">
            <ul>
                <li id="slide1-tp">
                    <img src="images/slides/taipei/slide1.jpg"/>
                    <div class="description-tp">
                        <div class="description-text-tp">
                            <p class="topline-tp">BEST CITY FOR DJS</p>
                            <h2>TAIPEI</h2>
                            <p>Eastern traditions fuse with Western tastes in this
centuries-old city with a modern edge.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-tp">
                    <img src="images/slides/taipei/slide2.jpg"/>
                    <div class="description-tp">
                        <input type="checkbox" id="show-description-2-tp"/>
                        <label for="show-description-2-tp" class="show-description-label-tp">I</label>
                        <div class="description-text-tp">
                            <p class="topline-tp">BEST CITY FOR DJS</p>
                            <h2>TAIPEI</h2>
                            <p>Eastern traditions fuse with Western tastes in this
centuries-old city with a modern edge.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-tp">
                    <img src="images/slides/taipei/slide3.jpg"/>
                    <div class="description-tp">
                        <input type="checkbox" id="show-description-3-tp"/>
                        <label for="show-description-3-tp" class="show-description-label-tp">I</label>
                        <div class="description-text-tp">
                            <p class="topline-tp">BEST CITY FOR DJS</p>
                            <h2>TAIPEI</h2>
                            <p>Eastern traditions fuse with Western tastes in this
centuries-old city with a modern edge.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/taipei/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <img src="images/smaller-images/taipei/middle-photo.jpg" alt="">
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/taipei/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <img class="full-top" src="images/smaller-images/taipei/middle-photo.jpg" alt=""> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/taipei/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/taipei/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>