<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="dj">
            <img src="images/banners/dj-banner.jpg" alt="DJ">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">You find your beat regardless of whether the music's in your mother tongue. Next year consider a new mix – and maybe some more stamps on your passport?</p>

         <div class="travelers-wrapper">
             <h2 class="teal-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/taipei/multiple-languages.jpg" alt="">
                <p>Speak multiple languages</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/taipei/passport.jpg" alt="">
                <p>Use a passport</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/taipei/local-cuisine.jpg" alt="">
                <p>Seek out local cuisine</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="teal-font"><div class="circle"><img src="images/stars/star_teal.gif"></div><a href="https://www.exclusivelyyours-shopping.com/Marriottcsp?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147507[LINK_TAG=1000147507]"><strong>DID YOU KNOW?</strong> You can also use points to buy electronics, jewelry and more.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle teal-circle"><p><img src="images/stars/star_teal.gif" class="img-responsive"></i></p></div>
                    <h3 class="teal-font"><a href="https://www.exclusivelyyours-shopping.com/Marriottcsp?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147507[LINK_TAG=1000147507]"><strong>DID YOU KNOW?</strong> <br>You can also use points to buy electronics, jewelry and more.</a></h3>
                </div>
        </div>
        
        <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/taipei.gif" alt="Taipei" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for DJs</p>    
                    <!-- Middle Line -->
                    <h2 class="city">Taipei</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">Eastern traditions fuse with Western tastes in this centuries-old city with a modern edge.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://www.cksmh.gov.tw/eng/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147508[LINK_TAG=1000147508]" target="_blank"><button class="button1 button-teal">See <br> Chiang Kai-Shek Hall</button></a>
                <!-- Button Eat -->
                    <a href="http://www.cnn.com/2015/04/14/travel/taipei-best-beef-noodles/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147509[LINK_TAG=1000147509]" target="_blank"><button class="button2 button-teal">Eat <br> Beef Noodle Soup</button></a>
                <!-- Button Do -->
                    <a href="https://en.wikipedia.org/wiki/Night_markets_in_Taiwan?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147510[LINK_TAG=1000147510]" target="_blank"><button class="button3 button-teal">Do <br> Shop a night market</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/taipei/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="https://www.marriott.com/hotels/travel/tpetm-taipei-marriott-hotel/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147511[LINK_TAG=1000147511]"><img src="images/smaller-images/taipei/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/taipei/map.gif" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.marriott.com/hotels/travel/tpetm-taipei-marriott-hotel/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147511[LINK_TAG=1000147511]"><img class="full-top" src="images/smaller-images/taipei/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/taipei/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/taipei/map.gif" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>