<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <!-- Used on the full site and tablets -->
            <div class="footer-nav">
                <ul>
                    <li class="first"><a href="">About Marriott</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Room Key</a></li>
                    <li class="mobile-break"><a href="">Marriott Timeshare</a></li>
                    <li><a href="">Terms Of Use</a></li>
                    <li class="mobile-break"><a href="">Privacy & Cookie Statement</a></li>
                    <li><a href="">Tracking Preferences</a></li>
                </ul><div class="clear"></div>
                <p class="copyright">&copy; 2015 MARRIOTT INTERNATIONAL, INC. ALL RIGHTS RESERVED. MARRIOTT PROPRIETARY INFORMATION</p>
            </div>
        </div>
    </div>
            
    <!-- For mobile and smaller devices -->
    <div class="row">
        <div class="footer-nav-mobile">
            <div class="col-s-10 col-xs-10">
                <ul>
                    <li><a href="">About Marriott</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Room Key</a></li>
                    <li><a href="">Marriott Timeshare</a></li>
                </ul>
            </div><div class="clear"></div>
            <div class="col-s-10 col-xs-10">
                <ul>
                    <li><a href="">Terms Of Use</a></li>
                    <li><a href="">Privacy & Cookie Statement</a></li>
                </ul>
            </div><div class="clear"></div>
            <div class="col-s-10 col-xs-10" style="text-align: center;">
                <ul>
                    <li><a href="">Tracking Preferences</a></li>
                </ul>
            </div>
                </ul><div class="clear"></div>
                <p class="copyright">&copy; 2015 MARRIOTT INTERNATIONAL, INC. ALL RIGHTS RESERVED. MARRIOTT PROPRIETARY INFORMATION</p>   
            </div>
        </div>
    <!-- / Container -->
    </div>