<div class="container">
    <div class="row">
        <!-- Used on the full site and tablets -->
        <div class="footer">   
            <ul>
                <li><a href="">About Marriott</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Room Key</a></li>
                <li><a href="">Marriott Timeshare</a></li>
                <li><a href="">Terms Of Use</a></li>
                <li><a href="">Privacy & Cookie Statement</a></li>
                <li><a href="">Tracking Preferences</a></li>
            </ul>
            <div class="clear"></div>
            <p>&copy; 2015 Marriott International, Inc. All rights reserved. Marriott Proprietary Information</p>
        </div>
    </div>
</div>