<div class="container">
    <div class="row">
        <div id="t-legal-footer" class="t-footer-section-spacing clearfix">
            <section class="t-legal-utility-links t-uppercase-small">
                <ul id="utilities-legal">
                    <li>
                        <a href="http://www.marriott.com/marriott/aboutmarriott.mi" title="" class="analytics-click">
                            About Marriott
                        </a>
                    </li>

                    <li>
                        <a href="http://www.marriott.com/suggest/default.mi" title="" class="analytics-click">
                            Help
                        </a>
                    </li>

                    <li>
                        <a href="http://www.roomkey.com/" title="" class="analytics-click" rel="external">
                            RoomKey
                            <img class="external-link" src="http://cache.marriott.com/Images/Arrows/icon_newwindow_9x8.gif">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.marriottvacationclub.com?loc=DB59*1-43X1H6&amp;cid=corp-mvc-mi-global-footer" title="" class="analytics-click" rel="external">
                            Marriott Timeshare
                            <img class="external-link" src="http://cache.marriott.com/Images/Arrows/icon_newwindow_9x8.gif">
                        </a>
                    </li>

                    <li>
                        <a href="http://www.marriott.com/marriott/termsofuse-us.mi" title="" class="analytics-click">
                            Terms of Use
                        </a>
                    </li>

                    <li>
                        <a href="http://www.marriott.com/marriott/privacy-us.mi" title="" class="analytics-click">
                            Privacy &amp; Cookie Statement
                        </a>
                    </li>

                </ul>
            </section>
            <section class="t-copyright l-padding-top-three-quarters clearfix">
                <p class="t-uppercase-small " id="copyright">&copy; 1996 - 2015 <span itemprop="branchOf">Marriott International, Inc.</span> All rights reserved. Marriott proprietary information</p>
            </section>
        </div>  
    </div>
</div>