<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
           
            <!-- Full Site Logo -->
            <div class="logo-container">
                <img src="images/logo.png" alt="Marriott" class="center">
            </div>
            <!-- / Full Width Logo -->
            
             <!-- Mobile Logo -->
            <div class="mobile-logo-wrapper">
                <div class="mobile-logo">
                    <img src="images/logo.png" alt="Marriott" class="mobile-logo">
                </div>
                <div class="mobile-back">
                    <h4><a href="#">Back to Marriott.com</a></h4>    
                </div>     
            </div>
            <!-- / Mobile Logo -->
        </div>
        <!-- / Row -->
    </div>
    <!-- / Container -->
</div>