<div class="container"> 
    <!-- Find Your travel -->
    <div class="row">
        <div class="header-content">
            <h1>FIND YOUR TRAVEL PERSONALITY</h1>
            <p class="large-text">Think about the beat of your travel this year. Did you log miles touring on the road? Get A-list treatment at a VIP resort? Or were you too busy planning new gigs to take a real vacation?</p>
        
            <h2>What type of traveler were you this year?</h2>  
        </div>
    </div>
    <div class="clear"></div>
</div>