<div class="container">
    <div class="row">
        <div id="header-container" class="t-header t-thick-header">
            <a href="http://www.marriott.com" class="show-for-large-up">
                <div class="header-bg-left-marriott show-for-large-up">
                </div>
            </a>
            <a href="http://www.marriott.com" class="show-for-small-only">
                <div class="header-bg-left-small-marriott">
                </div>
            </a>
            <a href="http://www.marriott.com" class="show-for-medium-only">
                <div class="header-bg-left-small-marriott">
                </div>
            </a>
            <a href="http://www.marriott.com">
                <div class="show-for-large-up header-bg-right-marriott">
                </div>
                <div class="show-for-medium-only header-bg-right-medium-marriott">
                </div>
            </a>
        </div>   
        <!-- / Row -->
    </div>
    <!-- / Container -->
</div>