<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="karaoke-star">
            <img src="images/banners/karaoke-star-banner.jpg" alt="Karaoke Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Some people sing for their supper; this year you did it purely for fun. Your ability to have a good time wherever you went was contagious. Think about doing an encore performance in 2016.</p>

         <div class="travelers-wrapper">
             <h2 class="yellow-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/vacation-days.jpg" alt="">
                <p>Use all vacation days</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/san-juan/see-friends.jpg" alt="">
                <p>Travel to see friends</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/multi-city-trips.jpg" alt="">
                <p>Take multi-city trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="yellow-font"><div class="circle"><img src="images/stars/star_orange.gif"></div><a href="https://www.marriott.com/rewards/myAccount/savedHotels.mi?toggleDream=true&nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147497[LINK_TAG=1000147497]"><strong>DID YOU KNOW?</strong> Have you set up a dream trip in Dreamtracker?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle yellow-circle"><p><img src="images/stars/star_orange.gif" class="img-responsive"></p></div>
                    <h3 class="yellow-font"><a href="https://www.marriott.com/rewards/myAccount/savedHotels.mi?toggleDream=true&nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147497[LINK_TAG=1000147497]"><strong>DID YOU KNOW?</strong> <br>Have you set up a dream trip in Dreamtracker?</a></h3>
                </div>
        </div>
        
       <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/atlanta.gif" alt="Atlanta" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for karaoke stars</p>    
                    <!-- Middle Line -->
                    <h2 class="city">San Juan</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">Kick back with a cold one at a beach bar – Puerto Rico is the birthplace of the pi&ntilde;a colada.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://www.nps.gov/saju/index.htm?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147498[LINK_TAG=1000147498]" target="_blank"><button class="button1 button-purple">See <br> the forts</button></a>
                <!-- Button Eat -->
                    <a href="http://www.bbc.com/travel/story/20130711-on-the-mofongo-trail-in-puerto-rico?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147499[LINK_TAG=1000147499]" target="_blank"><button class="button2 button-purple">Eat <br> Mofongo</button></a>
                <!-- Button Do -->
                    <a href="http://www.fs.usda.gov/elyunque/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147501[LINK_TAG=1000147501]" target="_blank"><button class="button3 button-purple">Do <br> Explore El Yunque</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/san-juan/city.jpg" alt="">
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="https://www.marriott.com/hotels/travel/sjubr-la-concha-renaissance-san-juan-resort/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147500[LINK_TAG=1000147500]"><img src="images/smaller-images/san-juan/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/san-juan/map.gif" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.marriott.com/hotels/travel/sjubr-la-concha-renaissance-san-juan-resort/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147500[LINK_TAG=1000147500]"><img class="full-top" src="images/smaller-images/san-juan/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/san-juan/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/san-juan/map.gif" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>