<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="karaoke-star">
            <img src="images/banners/karaoke-star-banner.jpg" alt="Karaoke Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Some people sing for their supper; this year you did it purely for fun. Your ability to have a good time wherever you went was contagious. Think about doing an encore performance in 2016.</p>

         <div class="travelers-wrapper">
             <h2 class="yellow-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/vacation-days.jpg" alt="">
                <p>Use all vacation days</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/san-juan/see-friends.jpg" alt="">
                <p>Travel to see friends</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/multi-city-trips.jpg" alt="">
                <p>Take multi-city trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="yellow-font"><div class="circle"><img src="images/stars/star_orange.gif"></div><a href="https://www.marriott.com/rewards/myAccount/savedHotels.mi?toggleDream=true&nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147497[LINK_TAG=1000147497]"><strong>DID YOU KNOW?</strong> Have you set up a dream trip in Dreamtracker?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle yellow-circle"><p><img src="images/stars/star_orange.gif" class="img-responsive"></p></div>
                    <h3 class="yellow-font"><a href="https://www.marriott.com/rewards/myAccount/savedHotels.mi?toggleDream=true&nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147497[LINK_TAG=1000147497]"><strong>DID YOU KNOW?</strong> <br>Have you set up a dream trip in Dreamtracker?</a></h3>
                </div>
        </div>
        
       <!-- Slideshow -->
        
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <a href="https://www.marriott.com/hotels/travel/sjubr-la-concha-renaissance-san-juan-resort/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147500[LINK_TAG=1000147500]"><img src="images/smaller-images/san-juan/city.jpg" alt=""></a>
            </div>
            <div class="image-mid-wrapper img-half">
                <img src="images/smaller-images/san-juan/middle-photo.jpg" alt="">
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/san-juan/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.marriott.com/hotels/travel/sjubr-la-concha-renaissance-san-juan-resort/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147500[LINK_TAG=1000147500]"><img class="full-top" src="images/smaller-images/san-juan/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/san-juan/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/san-juan/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>