<div class="container-fluid">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="karaoke-star">
            <img src="images/banners/karaoke-star-banner.jpg" alt="Karaoke Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Some people sing for their supper; this year you did it purely for fun. Your ability to have a good time wherever you went was contagious. Think about doing an encore performance in 2016.</p>

         <div class="travelers-wrapper">
             <h2 class="yellow-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/vacation-days.jpg" alt="">
                <p>Use all vacation days</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/san-juan/see-friends.jpg" alt="">
                <p>Travel to see friends</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/san-juan/multi-city-trips.jpg" alt="">
                <p>Take multi-city trips</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <div class="circle yellow-circle"><i class="fa fa-star fa-3x"></i></div><h3 class="yellow-font"><strong>DID YOU KNOW?</strong> Have you set up a dream trip in Dreamtracker?</h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle yellow-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="yellow-font"><strong>DID YOU KNOW?</strong> <br>Have you set up a dream trip in Dreamtracker?</h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-sj">
            <div>
                <div id="slideshow-wrap-sj">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-sj" name="controls" checked="checked"/>
                <label for="button-1-sj" class="button"><p>See<br>THE FORTS</p></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-sj" name="controls"/>
                <label for="button-2-sj"><p>Eat<br>MOFONGO</p></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-sj" name="controls"/>
                <label for="button-3-sj"><p>Do<br>EXPLORE EL YUNQUE</p></label>

        <div id="slideshow-inner-sj">
            <ul>
                <li id="slide1-sj">
                    <img src="images/slides/san-juan/slide1.jpg"/>
                    <div class="description-sj">
                        <div class="description-text-sj">
                            <p class="topline-sj">BEST CITY FOR KARAOKE STARS</p>
                            <h2>SAN JUAN</h2>
                            <p>Kick back with a cold one at a beach bar – Puerto Rico is
the birthplace of the piña colada.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-sj-sj">
                    <img src="images/slides/san-juan/slide2.jpg"/>
                    <div class="description-sj">
                        <input type="checkbox" id="show-description-2-sj"/>
                        <label for="show-description-2-sj" class="show-description-label-sj">I</label>
                        <div class="description-text-sj">
                            <p class="topline-sj">BEST CITY FOR KARAOKE STARS</p>
                            <h2>SAN JUAN</h2>
                            <p>Kick back with a cold one at a beach bar – Puerto Rico is
the birthplace of the piña colada.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-sj">
                    <img src="images/slides/san-juan/slide3.jpg"/>
                    <div class="description-sj">
                        <input type="checkbox" id="show-description-3-sj"/>
                        <label for="show-description-3-sj" class="show-description-label-sj">I</label>
                        <div class="description-text-sj">
                            <p class="topline-sj">BEST CITY FOR KARAOKE STARS</p>
                            <h2>SAN JUAN</h2>
                            <p>Kick back with a cold one at a beach bar – Puerto Rico is
the birthplace of the piña colada.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/san-juan/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <img src="images/smaller-images/san-juan/middle-photo.jpg" alt="">
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/san-juan/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <img class="full-top" src="images/smaller-images/san-juan/middle-photo.jpg" alt=""> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/san-juan/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/san-juan/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>