<div class="container-fluid">
    <!-- Full navigation -->
    <div class="row">  
         <!-- Start Navigation -->
        <div id="nav-wrap">
            <div id="all">
                <ul>
                    <li><a class="blue" href="#">
                        <span>Rock Star</span>
                        </a>
                    </li>
                    <li><a class="green" href="#"><span>Cover Band</span></a></li>
                    <li><a class="purple" href="#"><span>Touring Act</span></a></li>
                    <li><a class="gold" href="#"><span>Karaoke Star</span></a></li>
                    <li><a class="grey" href="#"><span>Producer</span></a></li>
                    <li><a class="red" href="#"><span>Undiscovered Talent</span></a></li>
                    <li><a class="teal" href="#"><span>DJ</span></a></li>
                </ul>
            </div>
        </div>
        <!-- End Navgation -->
    </div>
</div>
    
    <!-- Sticky Navigation -->
    
    <!-- Mobile Navigation -->
    <div class="row"> 
        <div class="mobile-nav" style="width: 100%; margin: 0 auto;padding: 0;">
            <img src="images/mobile-nav.gif" at="mobile navigation" style="width: 90%;margin: 1em 0 1em 5%; padding: 0;">
        </div>
  </div>  
</div>