<div class="container-fluid">
    <!-- Full navigation -->
    <div class="row">  
         <!-- Start Navigation -->
        <div id="nav-wrap">
            <div id="all">
                <ul>
                    <li><a class="blue" href="#"></a></li>
                    <li><a class="green" href="#"></a></li>
                    <li><a class="purple" href="#"></a></li>
                    <li><a class="gold" href="#"></a></li>
                    <li><a class="grey" href="#"></a></li>
                    <li><a class="red" href="#"></a></li>
                    <li><a class="teal" href="#"></a></li>
                </ul>
            </div>
        </div>
        <!-- End Navgation -->
    </div>
</div>
    
    <!-- Sticky Navigation -->
    
    <!-- Mobile Navigation -->
    <div class="row"> 
        <div class="mobile-nav" style="width: 100%; margin: 0 auto;padding: 0;">
            <img src="images/mobile-nav.gif" at="mobile navigation" style="width: 90%;margin: 0 auto; padding: 0;">
        </div>
  </div>  
</div>