<div class="container-fluid">
    <!-- Full navigation -->
    <div class="row">  
        <div class="full-nav">
            <ul>
                <a href="#"><li class="blue"></li></a>
                <li class="green"><a href="#"><img src="images/.jpg" alt=""></a></li>
                <li class="purple"><a href="#"><img src="images/.jpg" alt=""></a></li>
                <li class="gold"><a href="#"><img src="images/.jpg" alt=""></a></li>
                <li class="grey"><a href="#"><img src="images/.jpg" alt=""></a></li>
                <li class="red"><a href="#"><img src="images/.jpg" alt=""></a></li>
                <li class="teal"><a href="#"><img src="images/.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
    
    <!-- Sticky Navigation -->
    
    <!-- Mobile Navigation -->
    <div class="row"> 
        <div class="mobile-nav"></div>
  </div>  
</div>