<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="producer">
            <img src="images/banners/producer-banner.jpg" alt="RecordProducer">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Booking new gigs, finding new talent. When things needed to get done this year, you were the one in charge. Efficiency is the name of your game: you keep things rolling wherever you happen to be.</p>

         <div class="travelers-wrapper">
             <h2 class="grey-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/new-york/precheck.jpg" alt="">
                <p>Fly with PreCheck</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/new-york/expense-it.jpg" alt="">
                <p>Expense it</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/new-york/hit-the-gym.jpg" alt="">
                <p>Hit the gym</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="grey-font"><a href="http://mobileapp.marriott.com/mobile-check-in/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147502[LINK_TAG=1000147502]" target="_blank"><div class="circle"><img src="images/stars/star_gray.gif"></div><strong>DID YOU KNOW?</strong> Have you used mobile check-in yet?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <a href="http://mobileapp.marriott.com/mobile-check-in/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147502[LINK_TAG=1000147502]" target="_blank">
                    <div class="mobile-circle grey-circle"><p><img src="images/stars/star_gray.gif" class="img-responsive"></p></div>
                    <h3 class="grey-font"><strong>DID YOU KNOW?</strong> <br>Have you used mobile check-in yet?</h3>
                        </a>
                </div>
        </div>
        
        <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/newyork.gif" alt="New York" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for Record Producers</p>    
                    <!-- Middle Line -->
                    <h2 class="city">New York</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">The stakes are high in NYC – and so are the opportunities to make big things happen.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://www.frick.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147504[LINK_TAG=1000147504]" target="_blank"><button class="button1 button-grey"><strong>See</strong> <br> the frick collection</button></a>
                <!-- Button Eat -->
                    <a href="http://ny.eater.com/maps/a-guide-to-navigating-the-steakhouses-of-new-york-city?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147505[LINK_TAG=1000147505]" target="_blank"><button class="height md-height xmd-height tablet-height button2 button-grey"><strong>Eat</strong> <br> Steak</button></a>
                <!-- Button Do -->
                    <a href="http://www.nyctourist.com/heliports_helicopter_airport_transportation.htm?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147503[LINK_TAG=1000147503]" target="_blank"><button class="md-height button3 button-grey"><strong>Do</strong> <br> take a helicopter</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img src="images/smaller-images/new-york/city.jpg" class="side-image" alt=""></a>
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img src="images/smaller-images/new-york/middle-photo.jpg" class="middle-image" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img src="images/smaller-images/new-york/map.gif" class="side-image" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img class="full-top" src="images/smaller-images/new-york/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img class="bottom-left" src="images/smaller-images/new-york/city.jpg" alt=""></a>
                </div>
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]" target="_blank"><img class="bottom-right" src="images/smaller-images/new-york/map.gif" alt=""></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>