<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="producer">
            <img src="images/banners/producer-banner.jpg" alt="RecordProducer">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">Booking new gigs, finding new talent. When things needed to get done this year, you're the one in charge. Efficiency is the name of your game: you keep things rolling wherever you happen to be.</p>

         <div class="travelers-wrapper">
             <h2 class="grey-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/new-york/precheck.jpg" alt="">
                <p>Fly with PreCheck</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/new-york/expense-it.jpg" alt="">
                <p>Expense it</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/new-york/hit-the-gym.jpg" alt="">
                <p>Hit the gym</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="grey-font"><i class="circle grey-circle fa fa-star fa-2x"></i><a href="http://mobileapp.marriott.com/mobile-check-in/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147502[LINK_TAG=1000147502]"><strong>DID YOU KNOW?</strong> Have you used mobile check-in yet?</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle grey-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="grey-font"><a href="http://mobileapp.marriott.com/mobile-check-in/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147502[LINK_TAG=1000147502]"><strong>DID YOU KNOW?</strong> <br>Have you used mobile check-in yet?</a></h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-ny">
            <div>
                <div id="slideshow-wrap-ny">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-ny" name="controls" checked="checked"/>
                <label for="button-1-ny" class="button-ny"><a href="http://www.frick.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147504[LINK_TAG=1000147504]"><p>See<br>THE FRICK COLLECTION</p></a></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-ny" name="controls"/>
                <label for="button-2-ny"><a href="http://ny.eater.com/maps/a-guide-to-navigating-the-steakhouses-of-new-york-city?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147505[LINK_TAG=1000147505]"><p>Eat<br>STEAK</p></a></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-ny" name="controls"/>
                    <label for="button-3-ny"><a href="http://www.nyctourist.com/heliports_helicopter_airport_transportation.htm?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147503[LINK_TAG=1000147503]"><p>Do<br>TAKE A HELICOPTER</p></a></label>

        <div id="slideshow-inner-ny">
            <ul>
                <li id="slide1-ny">
                    <img src="images/slides/new-york/slide1.jpg"/>
                    <div class="description-ny">
                        <div class="description-text-ny">
                            <p class="topline-ny">BEST CITY FOR RECORD PRODUCERS</p>
                            <h2>NEW YORK</h2>
                            <p>The stakes are high in NYC – and so are the
opportunities to make big things happen.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-ny">
                    <img src="images/slides/new-york/slide2.jpg"/>
                    <div class="description-ny">
                        <input type="checkbox" id="show-description-2-ny"/>
                        <label for="show-description-2-ny" class="show-description-label-ny">I</label>
                        <div class="description-text-ny">
                            <p class="topline-ny">BEST CITY FOR RECORD PRODUCERS</p>
                            <h2>NEW YORK</h2>
                            <p>The stakes are high in NYC – and so are the
opportunities to make big things happen.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-ny">
                    <img src="images/slides/new-york/slide3.jpg"/>
                    <div class="description-ny">
                        <input type="checkbox" id="show-description-3-ny"/>
                        <label for="show-description-3-ny" class="show-description-label-ny">I</label>
                        <div class="description-text-ny">
                            <p class="topline-ny">BEST CITY FOR RECORD PRODUCERS</p>
                            <h2>NEW YORK</h2>
                            <p>The stakes are high in NYC – and so are the
opportunities to make big things happen.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/new-york/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]"><img src="images/smaller-images/new-york/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/new-york/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/nycak-the-algonquin-hotel-times-square-autograph-collection/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147506[LINK_TAG=1000147506]"><img class="full-top" src="images/smaller-images/new-york/middle-photo.jpg" alt=""></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/new-york/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/new-york/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>