<div class="container-fluid top-banner-adjusment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="rock-star">
            <img src="images/banners/rock-star-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">You don't need the red carpet rolled out when you arrive (not that you'd say no to one). But you're used to a lurious life at the top of the charts - and this year you indulged well.</p>

         <div class="travelers-wrapper">
             <h2 class="blue-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/dubai/ritz-carlton.jpg" alt="">
                <p>Stay at a Ritz Carlton or a JW Marriott</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/dubai/room-upgrade.jpg" alt="">
                <p>Upgrade their room</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/dubai/visit-europe.jpg" alt="">
                <p>Visit Europe more often</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="blue-font"><i class="circle blue-circle fa fa-star fa-2x"></i><a href="https://www.marriott.com/marriott-rewards/member-benefits/member.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147482[LINK_TAG=1000147482]"><strong>DID YOU KNOW?</strong> Your redemption stays now earn you credit toward Elite status.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle blue-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="blue-font"><a href="https://www.marriott.com/marriott-rewards/member-benefits/member.mi?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147482[LINK_TAG=1000147482]"><strong>DID YOU KNOW?</strong> <br>Your redemption stays now earn you credit toward Elite status.</a></h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper">
            <div>
                <div id="slideshow-wrap">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1" name="controls" checked="checked"/>
                <label for="button-1" class="button"><a href="http://www.burjkhalifa.ae/en/index.aspx?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147483[LINK_TAG=1000147483]"><p>See<br>Burj Khalifa</p></a></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2" name="controls"/>
                <label for="button-2"><a href="http://www.cnn.com/2015/09/13/travel/dubai-outrageous-bling/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147484[LINK_TAG=1000147484]"><p>Eat<br>Haut Cuisine</p></a></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3" name="controls"/>
                <label for="button-3"><a href="http://www.huffingtonpost.com/viator/10-reasons-to-shop-dubai-_b_3113119.html?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147485[LINK_TAG=1000147485]"><p>Do<br>Shop</p></a></label>

        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="images/slides/dubai/slide1.jpg"/>
                    <div class="description">
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2">
                    <img src="images/slides/dubai/slide2.jpg"/>
                    <div class="description">
                        <input type="checkbox" id="show-description-2"/>
                        <label for="show-description-2" class="show-description-label">I</label>
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3">
                    <img src="images/slides/dubai/slide3.jpg"/>
                    <div class="description">
                        <input type="checkbox" id="show-description-3"/>
                        <label for="show-description-3" class="show-description-label">I</label>
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/dubai/city.jpg" alt="City of Dubai"> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/dxbjw-jw-marriott-marquis-hotel-dubai/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147486[LINK_TAG=1000147486]"><img src="images/smaller-images/dubai/dubai.jpg" alt="Dubai"></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/dubai/map.jpg" alt="Map with Direction to Dubai Hilton"> 
            </div>
            <div class="clear"></div>
            
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/dxbjw-jw-marriott-marquis-hotel-dubai/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147486[LINK_TAG=1000147486]"><img class="full-top" src="images/smaller-images/dubai/dubai.jpg" alt="Dubai"></a>
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/dubai/city.jpg" alt="City of Dubai"> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/dubai/map.jpg" alt="Map with Direction to Dubai Hilton"> 
                </div> 
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>