<div class="container-fluid">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper">
            <img src="images/rock-star-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">You don't need the red carpet rolled out when you arrive (not that you'd say no to one). But you're used to a lurious life at the top of the charts - and this year you indulged well.</p>
        
        <h2>Travelers like you are more likely to...</h2>
        <!-- Rock Star Traveler Images -->
        <!-- #1 -->
        <div class="full-image col-s-12 col-xs-12">
            <img src="images/ritz-carlton.jpg" alt="">
            <p>Stay at a Ritz Carlton or a JW Marriott</p>
        </div>

        <!-- #2 -->
        <div class="full-image col-s-12 col-xs-12">
            <img src="images/room-upgrade.jpg" alt="">
            <p>Upgrade their room</p>
        </div>

        <!-- #3 -->
        <div class="full-image col-s-12 col-xs-12">
            <img src="images/visit-europe.jpg" alt="">
            <p>Visit Europe more often</p>
        </div>
    </div>

    <div class="row">
        <div class="borders">
            
            <div class="message-wrapper">
                <div class="circle"><i class="fa fa-star fa-3x"></i></div><h3><strong>DID YOU KNOW?</strong> Your redemption stays now earn credit toward Elite status.</h3>
            </div>
        </div>
        
        <div class="slider-wrapper" style="width: 100%;margin: 1em auto;padding: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="images/slider-placeholder.jpg" alt="placeholer"> 
            </div>
            <div class="clear"></div>
        </div>
        
        <div style="width: 100%;margin: 0 auto;padding: 0;position: relative;display: block;">
            <!-- #1 -->
            <div style="width: 25%;margin: 0 auto;padding: 0;position: absolute;top: 0; left: 1em;">
                <img src="images/city.jpg" alt="">
            </div>

            <!-- #2 -->
            <div style="width: 50%;margin: 1.5em auto;padding: 0;">
                <img src="images/dubai.jpg" alt="">
            </div>

            <!-- #3 -->
            <div style="width: 25%;margin: 0 auto;padding: 0;position: absolute;top: 0;right: -1.25em;">
                <img src="images/map.jpg" alt="">
            </div>
        </div>
    </div>
</div>