<div class="container-fluid">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="rock-star">
            <img src="images/rock-star-banner.jpg" alt="Rock Star">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">You don't need the red carpet rolled out when you arrive (not that you'd say no to one). But you're used to a lurious life at the top of the charts - and this year you indulged well.</p>

         <div class="travelers-wrapper">
             <h2>Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 col-md-4 image-row tablet-img">
                <img src="images/ritz-carlton.jpg" alt="">
                <p>Stay at a Ritz Carlton or a JW Marriott</p> 
            </div>
            <div class="col-sm-12 col-md-4 image-row middle tablet-img">
                <img src="images/room-upgrade.jpg" alt="">
                <p>Upgrade their room</p> 
            </div>
            <div class="col-sm-12 col-md-4 image-row tablet-img">
                <img src="images/visit-europe.jpg" alt="">
                <p>Visit Europe more often</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <div class="circle"><i class="fa fa-star fa-3x"></i></div><h3><strong>DID YOU KNOW?</strong> Your redemption stays now earn you credit toward Elite status.</h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3><strong>DID YOU KNOW?</strong> <br>Your redemption stays now earn you credit toward Elite status.</h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper">
            <div>
                <div id="slideshow-wrap">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1" name="controls" checked="checked"/>
                <label for="button-1" class="button"><p>See<br>Burj Khalifa</p></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2" name="controls"/>
                <label for="button-2"><p>Eat<br>Haut Cuisine</p></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3" name="controls"/>
                <label for="button-3"><p>Do<br>Shop</p></label>

        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="images/slides/slide1.jpg"/>
                    <div class="description">
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2">
                    <img src="images/slides/slide2.jpg"/>
                    <div class="description">
                        <input type="checkbox" id="show-description-2"/>
                        <label for="show-description-2" class="show-description-label">I</label>
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3">
                    <img src="images/slides/slide3.jpg"/>
                    <div class="description">
                        <input type="checkbox" id="show-description-3"/>
                        <label for="show-description-3" class="show-description-label">I</label>
                        <div class="description-text">
                            <p class="topline">Best city for rock stars</p>
                            <h2>Dubai</h2>
                            <p>Life is so lavish here the police drive Ferraris and you can own an island shaped like your favorite country.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="col-lg-3 col-md-3 image-side-wrapper img-fourth">
                <img src="images/city.jpg" alt="City of Dubai"> 
            </div>
            <div class="col-lg-6 col-md-6 image-mid-wrapper img-half">
                <img src="images/dubai.jpg" alt="Dubai"> 
            </div>
            <div class="col-lg-3 col-md-3 image-side-wrapper img-fourth">
                <img src="images/map.jpg" alt="Map with Direction to Dubai Hilton"> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="col-md-12 col-sm-12">
                    <img class="full-top" src="images/dubai.jpg" alt="Dubai"> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="col-md-6 col-sm-6">
                    <img class="bottom-left" src="images/city.jpg" alt="City of Dubai"> 
                </div>
                <div class="col-md-6 col-sm-6">
                    <img class="bottom-right" src="images/map.jpg" alt="Map with Direction to Dubai Hilton"> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>