<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="touring-act">
            <img src="images/banners/touring-act-banner.jpg" alt="Touring Act">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">This year you took your act on the road. You've logged so many miles you're not always sure what city you've woken up in. But touring suits you, and you've picked up a lot of fans along the way.</p>

         <div class="travelers-wrapper">
             <h2 class="purple-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/hotel-suite.jpg" alt="">
                <p>Stay in a suite</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/atlanta/happy-hour.jpg" alt="">
                <p>Hang at happy hour</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/concierge.jpg" alt="">
                <p>Know the concierge by name</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="purple-font"><a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]" target="_blank"><div class="circle"><img src="images/stars/star_purple.gif"></div><strong>DID YOU KNOW?</strong> Convert points to miles at a discount with RewardsPlus.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]" target="_blank">
                    <div class="mobile-circle"><p><img src="images/stars/star_purple.gif" class="img-responsive"></i></p></div>
                    <h3 class="purple-font"><strong>DID YOU KNOW?</strong> <br> Convert points to miles at a discount with RewardsPlus.</h3></a>
                </div>
        </div>
        
        <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/atlanta.gif" alt="San Juan" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for touring acts</p>    
                    <!-- Middle Line -->
                    <h2 class="city">Atlanta</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">If you’re on the road long enough, you’ll probably pass through ATL – the airport here is the world’s busiest.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://www.georgiaaquarium.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147493[LINK_TAG=1000147493]" target="_blank"><button class="button1 button-purple"><strong>See</strong> <br> Georgia Aquarium</button></a>
                <!-- Button Eat -->
                    <a href="https://www.zagat.com/b/atlanta/the-10-hottest-bbq-restaurants-in-atlanta?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147494[LINK_TAG=1000147494]" target="_blank"><button class="height md-height xmd-height tablet-height button2 button-purple"><strong>Eat</strong> <br> BBQ</button></a>
                <!-- Button Do -->
                    <a href="http://beltline.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147495[LINK_TAG=1000147495]" target="_blank"><button class="md-height button3 button-purple"><strong>Do</strong> <br> run the beltline</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img src="images/smaller-images/atlanta/city.jpg" class="side-image" alt=""></a>
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img src="images/smaller-images/atlanta/middle-photo.jpg" class="middle-image" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img src="images/smaller-images/atlanta/map.gif" class="side-image" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img class="full-top" src="images/smaller-images/atlanta/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img class="bottom-left" src="images/smaller-images/atlanta/city.jpg" alt=""> </a>
                </div>
                <div class="bottom-images">
                    <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]" target="_blank"><img class="bottom-right" src="images/smaller-images/atlanta/map.gif" alt=""></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>