<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="touring-act">
            <img src="images/banners/touring-act-banner.jpg" alt="Touring Act">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">This year you took your act on the road. You've logged so many miles you're not always sure what city you've woken up in. But touring suits you, and you've picked up a lot of fans along the way.</p>

         <div class="travelers-wrapper">
             <h2 class="purple-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/hotel-suite.jpg" alt="">
                <p>Stay in a suite</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/atlanta/happy-hour.jpg" alt="">
                <p>Hang at happy hour</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/concierge.jpg" alt="">
                <p>Know the concierge by name</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="purple-font"><div class="circle"><img src="images/stars/star_purple.gif"></div><a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]"><strong>DID YOU KNOW?</strong> Convert points to miles at a discount with RewardsPlus.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle"><p><img src="images/stars/star_purple.gif" class="img-responsive"></i></p></div>
                    <h3 class="purple-font"><a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]"><strong>DID YOU KNOW?</strong> <br> Convert points to miles at a discount with RewardsPlus.</a></h3>
                </div>
        </div>
        
        <!-- Slideshow -->
        
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/atlanta/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]"><img src="images/smaller-images/atlanta/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/atlanta/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]"><img class="full-top" src="images/smaller-images/atlanta/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/atlanta/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/atlanta/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>