<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="touring-act">
            <img src="images/banners/touring-act-banner.jpg" alt="Touring Act">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">This year you took your act on the road. You've logged so many miles you're not always sure what city you've woken up in. But touring suits you, and you've picked up a lot of fans along the way.</p>

         <div class="travelers-wrapper">
             <h2 class="purple-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/hotel-suite.jpg" alt="">
                <p>Stay in a suite</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/atlanta/happy-hour.jpg" alt="">
                <p>Hang at happy hour</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/atlanta/concierge.jpg" alt="">
                <p>Know the concierge by name</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="purple-font"><i class="circle purple-circle fa fa-star fa-2x"></i> <a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]"><strong>DID YOU KNOW?</strong> Convert points to miles at a discount with RewardsPlus.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle purple-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="purple-font"><a href="https://www.mrrewardsplus.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147492[LINK_TAG=1000147492]"><strong>DID YOU KNOW?</strong> <br> Convert points to miles at a discount with RewardsPlus.</a></h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-at">
            <div>
                <div id="slideshow-wrap-at">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-at" name="controls" checked="checked"/>
                <label for="button-1-at" class="button-at"><a href="http://www.georgiaaquarium.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147493[LINK_TAG=1000147493]"><p>See<br>GEORGIA AQUARIUM</p></a></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-at" name="controls"/>
                <label for="button-2-at"><a href="https://www.zagat.com/b/atlanta/the-10-hottest-bbq-restaurants-in-atlanta?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147494[LINK_TAG=1000147494]"><p>Eat<br>BBQ</p></a></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-at" name="controls"/>
                    <label for="button-3-at"><a href="http://beltline.org/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147495[LINK_TAG=1000147495]"><p>Do<br>RUN THE BELTLINE</p></a></label>

        <div id="slideshow-inner-at">
            <ul>
                <li id="slide1-at">
                    <img src="images/slides/atlanta/slide1.jpg"/>
                    <div class="description-at">
                        <div class="description-text-at">
                            <p class="topline-at">BEST CITY FOR TOURING ACTS</p>
                            <h2>ATLANTA</h2>
                            <p>If you’re on the road long enough, you’ll probably pass
through ATL – the airport here is the world’s busiest.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-at">
                    <img src="images/slides/atlanta/slide2.jpg"/>
                    <div class="description-at">
                        <input type="checkbox" id="show-description-2-at"/>
                        <label for="show-description-2-at" class="show-description-label-at">I</label>
                        <div class="description-text-at">
                            <p class="topline-at">BEST CITY FOR TOURING ACTS</p>
                            <h2>ATLANTA</h2>
                            <p>If you’re on the road long enough, you’ll probably pass
through ATL – the airport here is the world’s busiest.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-at">
                    <img src="images/slides/atlanta/slide3.jpg"/>
                    <div class="description-at">
                        <input type="checkbox" id="show-description-3-at"/>
                        <label for="show-description-3-at" class="show-description-label-at">I</label>
                        <div class="description-text-at">
                            <p class="topline-at">BEST CITY FOR TOURING ACTS</p>
                            <h2>ATLANTA</h2>
                            <p>If you’re on the road long enough, you’ll probably pass
through ATL – the airport here is the world’s busiest.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/atlanta/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]"><img src="images/smaller-images/atlanta/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/atlanta/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147496[LINK_TAG=1000147496]"><img class="full-top" src="images/smaller-images/atlanta/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/atlanta/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/atlanta/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>