<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="undiscovered-talent">
            <img src="images/banners/undisc-talent-banner.jpg" alt="Undiscovered Talent">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">We can tell you have huge potential, but we didn't hear much from you this year. Was it stage fright? Did you sign with another label? Share a little more with us next year and we'll take you far.</p>

         <div class="travelers-wrapper">
             <h2 class="red-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/play-favorites.jpg" alt="">
                <p>Not play favorites</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/vancouver/hotel-brands.jpg" alt="">
                <p>Try multiple hotel brands</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/next-year.jpg" alt="">
                <p>Travel with us more next year!</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="red-font"><i class="circle red-circle fa fa-star fa-2x"></i><a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]"><strong>DID YOU KNOW?</strong> Membership gets you into special events, like concerts.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle red-circle"><p><i class="fa fa-star fa-3x"></i></p></div>
                    <h3 class="red-font"><a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]"><strong>DID YOU KNOW?</strong> <br>Membership gets you into special events, like concerts.</a></h3>
                </div>
        </div>
        
        <!-- HTML/CSS Slideshow -->
         <div class="slider-wrapper-vc">
            <div>
                <div id="slideshow-wrap-vc">
                
                    <!-- Button #1 -->
                <input type="radio" id="button-1-vc" name="controls" checked="checked"/>
                    <label for="button-1-vc" class="button-vc"><a href="http://vancouver.ca/parks-recreation-culture/stanley-park.aspx?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147513[LINK_TAG=1000147513]"><p>See<br>STANLEY PARK</p></a></label>

                <!-- Button 2 -->
                <input type="radio" id="button-2-vc" name="controls"/>
                <label for="button-2-vc"><a href="http://www.10best.com/destinations/canada/vancouver/restaurants/seafood/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147514[LINK_TAG=1000147514]"><p>Eat<br>DUNGENESS CRAB</p></a></label>
                
                <!-- BUtton #3 -->
                <input type="radio" id="button-3-vc" name="controls"/>
                    <label for="button-3-vc"><a href="http://www.capbridge.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147515[LINK_TAG=1000147515]"><p>Do<br>SUSPENSION BRIDGE</p></a></label>

        <div id="slideshow-inner-vc">
            <ul>
                <li id="slide1"-vc>
                    <img src="images/slides/vancouver/slide1.jpg"/>
                    <div class="description-vc">
                        <div class="description-text-vc">
                            <p class="topline-vc">BEST CITY FOR UNDISCOVERED TALENTS</p>
                            <h2>VANCOUVER</h2>
                            <p>Food, culture, outdoor adventure ... there’s something
for everyone in this Western Canada metropolis.</p>
                        </div>
                    </div>
                </li>
                <li id="slide2-vc">
                    <img src="images/slides/vancouver/slide2.jpg"/>
                    <div class="description-vc">
                        <input type="checkbox" id="show-description-2-vc"/>
                        <label for="show-description-2-vc" class="show-description-label-vc">I</label>
                        <div class="description-text-vc">
                            <p class="topline-vc">BEST CITY FOR UNDISCOVERED TALENTS</p>
                            <h2>VANCOUVER</h2>
                            <p>Food, culture, outdoor adventure ... there’s something
for everyone in this Western Canada metropolis.</p>
                        </div>
                    </div>
                    
                </li>
                <li id="slide3-vc">
                    <img src="images/slides/vancouver/slide3.jpg"/>
                    <div class="description-vc">
                        <input type="checkbox" id="show-description-3-vc"/>
                        <label for="show-description-3-vc" class="show-description-label-vc">I</label>
                        <div class="description-text-vc">
                            <p class="topline-vc">BEST CITY FOR UNDISCOVERED TALENTS</p>
                            <h2>VANCOUVER</h2>
                            <p>Food, culture, outdoor adventure ... there’s something
for everyone in this Western Canada metropolis.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
            </div>
            <div class="clear"></div>
        </div>
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/vancouver/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]"><img src="images/smaller-images/vancouver/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/vancouver/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]"><img class="full-top" src="images/smaller-images/vancouver/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/vancouver/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/vancouver/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>