<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="undiscovered-talent">
            <img src="images/banners/undisc-talent-banner.jpg" alt="Undiscovered Talent">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">We can tell you have huge potential, but we didn't hear much from you this year. Was it stage fright? Did you sign with another label? Share a little more with us next year and we'll take you far.</p>

         <div class="travelers-wrapper">
             <h2 class="red-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/play-favorites.jpg" alt="">
                <p>Not play favorites</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/vancouver/hotel-brands.jpg" alt="">
                <p>Try multiple hotel brands</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/next-year.jpg" alt="">
                <p>Travel with us more next year!</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="red-font"><a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]" target="_blank"><div class="circle"><img src="images/stars/star_red.gif"></div><strong>DID YOU KNOW?</strong> Membership gets you into special events, like concerts.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]" target="_blank">
                    <div class="mobile-circle red-circle"><p><img src="images/stars/star_red.gif" class="img-responsive"></p></div>
                    <h3 class="red-font"><strong>DID YOU KNOW?</strong> <br>Membership gets you into special events, like concerts.</h3></a>
                </div>
        </div>
        
        <!-- Slideshow -->
        <div class="slider-wrapper">
            <div class="slider-inner">
                <!-- animated GIF to be placed in here -->
                <img src="images/slides/vancouver.gif" alt="Vancouver" class="img-responsive">
                <!-- / GIF -->
                
                <!-- Top Text on Slideshow -->
                <div class="overlay-container">
                    <!-- Top Line -->
                    <p class="topline">best city for Undiscovered Talents</p>    
                    <!-- Middle Line -->
                    <h2 class="city">Vancouver</h2>
                    <!-- Bottom Text -->
                    <p class="tagline">Food, culture, outdoor adventure ... there's something for everyone in this Western Canada metropolis.</p>
                </div>
                <!-- / Slideshow Text -->
                
                <!-- Start Buttons -->
                
                <!-- Button See -->
                    <a href="http://vancouver.ca/parks-recreation-culture/stanley-park.aspx?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147513[LINK_TAG=1000147513]" target="_blank"><button class="height md-height xmd-height tablet-height button1 button-red"><strong>See</strong> <br> Stanley Park</button></a>
                <!-- Button Eat -->
                    <a href="http://www.10best.com/destinations/canada/vancouver/restaurants/seafood/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147514[LINK_TAG=1000147514]" target="_blank"><button class="md-height button2 button-red"><strong>Eat</strong> <br> Dungeness Crab</button></a>
                <!-- Button Do -->
                    <a href="http://www.capbridge.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147515[LINK_TAG=1000147515]" target="_blank"><button class="button3 button-red"><strong>Do</strong> <br> Suspension Bridge</button></a>
                    
               
                <!-- / Buttons -->
                
            </div>
        </div>
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img src="images/smaller-images/vancouver/city.jpg" class="side-image" alt=""></a>
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img src="images/smaller-images/vancouver/middle-photo.jpg" class="middle-image" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img src="images/smaller-images/vancouver/map.gif" class="side-image" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img class="full-top" src="images/smaller-images/vancouver/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img class="bottom-left" src="images/smaller-images/vancouver/city.jpg" alt=""></a>
                </div>
                <div class="bottom-images">
                    <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]" target="_blank"><img class="bottom-right" src="images/smaller-images/vancouver/map.gif" alt=""></a> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>