<div class="container-fluid banner-adjustment">
    <div class="row">
        <!-- Rock Star Banner -->
        <div class="banner-wrapper" id="undiscovered-talent">
            <img src="images/banners/undisc-talent-banner.jpg" alt="Undiscovered Talent">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="large-text">We can tell you have huge potential, but we didn't hear much from you this year. Was it stage fright? Did you sign with another label? Share a little more with us next year and we'll take you far.</p>

         <div class="travelers-wrapper">
             <h2 class="red-font">Travelers like you are more likely to...</h2>
             
            <!-- Rock Star Traveler Images -->
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/play-favorites.jpg" alt="">
                <p>Not play favorites</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row middle">
                <img src="images/smaller-images/vancouver/hotel-brands.jpg" alt="">
                <p>Try multiple hotel brands</p> 
            </div>
            <div class="col-sm-12 tablet-img image-row">
                <img src="images/smaller-images/vancouver/next-year.jpg" alt="">
                <p>Travel with us more next year!</p> 
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        
        <div class="borders"> 
            <!-- Full Width -->
            <div class="message-wrapper">
                <h3 class="red-font"><div class="circle"><img src="images/stars/star_red.gif"></div><a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]"><strong>DID YOU KNOW?</strong> Membership gets you into special events, like concerts.</a></h3>  
            </div>
            <!-- Mobile -->
                <div class="message-wrapper-mobile">
                    <div class="mobile-circle red-circle"><p><img src="images/stars/star_red.gif" class="img-responsive"></p></div>
                    <h3 class="red-font"><a href="http://thatsrewarding.marriott.com/?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147512[LINK_TAG=1000147512]"><strong>DID YOU KNOW?</strong> <br>Membership gets you into special events, like concerts.</a></h3>
                </div>
        </div>
        
        <!-- Slideshow -->
        
        <!-- / Slideshow -->
        
        <!-- ****** IMAGES BELOW SLIDER ****** -->
        
        <!-- Full Width Images -->
        <div class="inline-images">
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/vancouver/city.jpg" alt=""> 
            </div>
            <div class="image-mid-wrapper img-half">
                <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]"><img src="images/smaller-images/vancouver/middle-photo.jpg" alt=""></a>
            </div>
            <div class="image-side-wrapper img-fourth">
                <img src="images/smaller-images/vancouver/map.jpg" alt=""> 
            </div>
            <div class="clear"></div>
        </div>
        
        
        
        <!-- Mobile Images -->
        <div class="mobile-images">
            <!-- Top Image -->
            <div class="image-wrapper">
                <div class="top-image">
                    <a href="https://www.deltahotels.com/Hotels/Delta-Vancouver-Suites?nck=[+PROFILE('CUSTOMER_KEY','','')+]&ck=[+PROFILE('CAMPAIGN_KEY','','')+]&lk=1000147516[LINK_TAG=1000147516]"><img class="full-top" src="images/smaller-images/vancouver/middle-photo.jpg" alt=""></a> 
                </div>
            </div>

                <!-- Bottom Images -->
             <div class="image-wrapper">
                <div class="bottom-images">
                    <img class="bottom-left" src="images/smaller-images/vancouver/city.jpg" alt=""> 
                </div>
                <div class="bottom-images">
                    <img class="bottom-right" src="images/smaller-images/vancouver/map.jpg" alt=""> 
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>