.header-content {
    text-align: center;
    
       h1 {
        font-size: 1.45em;
        margin: 1em auto 0;
        padding: 0;
        font-weight: 400;
    }
    h2 {
        padding: 0 1em;   
    }
}

@media (min-width: 992px) {

    .header-content {
        text-align: center;

        h1 {
            font-size: 3em;
            margin: 1em auto 0;
            padding: 0;
            font-weight: 400;
        }
        h2 {
            font-size: 2em;
            font-weight: 300;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            color: #496fb5;
        }   
    }
}