/* Banner Image */
.banner-wrapper {
    width: 100%;
    margin: 0 auto;
    img {
        width: 100%;    
    }
}

.travelers-wrapper {
    width: 100%; 
    margin: 0 auto; 
    padding: 0;
    
    .image-row {

        img {
            width: 100%;    
            }

        p {
            text-align: center;
            margin: 0 auto 1em;
            padding: 0;
        }
    }
}
.message-wrapper-mobile {
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    display: block;
    
}
.mobile-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #496fb5;
    position: relative;
    float: left;
    margin-left: 2em;
    margin-right: .5em;
    margin-top: .25em;
    i {
        color: #FFF;
        position: absolute;
        top: 15px;
        left: 15px;
    }
}
.message-wrapper {
    display: none;
}

/* Mobile images with city and map at bottom of section */
.image-wrapper {
    width: 100%;
    margin: 1em auto 0;
    padding: 0;
    
    .full-top {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .bottom-left {
        width: 49%; 
        float: left;    
    }
    .bottom-right {
        width: 49%; 
        float: right;    
    }
}

.inline-images {
    display: none;
}


/** FULL WIDTH VIEW MEDIA QUERY **/

@media (min-width: 992px) {
    .banner-wrapper {
        margin-top: 5em;
    }

    /* Images below banner */
.travelers-wrapper {
    width: 100%; 
    margin: 0 auto; 
    padding: 0;
    
    .image-row {
        width: 32%;
        float: left;
        margin: 0 auto; 
        padding: 0;
        
        img {
            width: 100%;    
            }

        p {
            text-align: center;    
        }
    }
    .middle {
        margin: 0 1em;    
    }
}
    
    .message-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 2em 0;
        display: block;

    }
    .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: #496fb5;
        position: relative;
        float: left;
        margin-left: 2em;
        margin-right: .5em;
        margin-top: .25em;
        i {
            color: #FFF;
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
    .message-wrapper-mobile {
        display: none;
    }
    
    .mobile-images { /** 3 images at bottom with map **/
        display: none;   
    }
    
    /* Full width images below slideshow */
    .inline-images {
        display: block;
        width: 100%;
        margin: 2em 0 2em 0;
        padding: 0; 
        
        .image-side-wrapper {
            padding: 0;
            margin: 0 auto;
            width: 24%;
            > img {
                float: left;
                width: 100%;    
            }
        }
        .image-mid-wrapper {
            padding: 0;
            margin: 0 .7em;
            width: 50.1%; 
            > img {
                float: left; 
                margin: 0 auto;
                width: 100%;   
            }
        }
    }
}